Estudio de la distribución del arbolado en Ciudad Autónoma de Buenos Aires. 
Este trabajo pretende ser una revisión del análisis exploratorio de datos. Para adentrarnos en él comenzamos con una nota de color de Infobae donde se trata un poco sobre la historia y planificación del arbolado en CABA [Infobae](https://www.infobae.com/sociedad/2019/04/13/cuales-son-y-donde-se-ubican-los-arboles-que-dan-vida-a-la-ciudad-de-buenos-aires/)

In [1]:
import numpy as np
import pandas as pd
import matplotlib as mpl
import seaborn as sns

Carga de datos crudos

In [2]:
df0 = pd.read_csv('arbolado-publico-lineal-2017-2018.csv', low_memory=False)

In [3]:
df0.head(5)

,long,lat,nro_registro,tipo_activ,comuna,manzana,calle_nombre,calle_altura,calle_chapa,direccion_normalizada,ubicacion,nombre_cientifico,ancho_acera,estado_plantera,ubicacion_plantera,nivel_plantera,diametro_altura_pecho,altura_arbol
0,-58.378563,-34.594902,26779,Lineal,1,NaN,Esmeralda,1000.0,1120.0,ESMERALDA 1120,NaN,Tipuana tipu,5.5,Ocupada,Regular,A nivel,88.0,34.0
1,-58.381532,-34.592319,30887,Lineal,1,NaN,Pellegrini Carlos,1300.0,1345.0,"PELLEGRINI, CARLOS 1345",Exacta,Peltophorum dubium,4.5,Ocupada,Regular,Elevada,6.0,5.0
2,-58.379103,-34.591939,30904,Lineal,1,NaN,Arroyo,800.0,848.0,ARROYO 848,Exacta,Fraxinus pennsylvanica,4,Ocupada,Regular,A nivel,7.0,6.0
3,-58.380710,-34.591548,31336,Lineal,1,NaN,Arroyo,900.0,932.0,ARROYO 932,LD,Fraxinus pennsylvanica,NaN,Ocupada,Regular,A nivel,9.0,29.0
4,-58.380710,-34.591548,31337,Lineal,1,NaN,Arroyo,900.0,932.0,ARROYO 932,LA,Jacaranda mimosifolia,NaN,Ocupada,Regular,A nivel,13.0,8.0

In [4]:
df0.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 370180 entries, 0 to 370179
Data columns (total 18 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   long                   354838 non-null  float64
 1   lat                    354838 non-null  float64
 2   nro_registro           370180 non-null  object
 3   tipo_activ             370180 non-null  object
 4   comuna                 370180 non-null  int64
 5   manzana                224140 non-null  object
 6   calle_nombre           370087 non-null  object
 7   calle_altura           364677 non-null  object
 8   calle_chapa            363721 non-null  object
 9   direccion_normalizada  355941 non-null  object
 10  ubicacion              361884 non-null  object
 11  nombre_cientifico      370180 non-null  object
 12  ancho_acera            367083 non-null  object
 13  estado_plantera        370180 non-null  object
 14  ubicacion_plantera     368776 non-null  object
 15  nivel_plantera         368828 non-null  object
 16  diametro_altura_pecho  369894 non-null  float64
 17  altura_arbol           365858 non-null  float64
dtypes: float64(4), int64(1), object(13)
memory usage: 50.8+ MB

¿Qué datos son realmente relevantes?

Exploramos los valores que presentan algunos features que sospechamos podriamos prescindir

In [5]:
df0['tipo_activ'].unique()

array(['Lineal', 'Lineal ', 'LINEAL', 'Lineal  ', 'lineal', 'calle'],
      dtype=object)

In [6]:
df0['estado_plantera'].unique()

array(['Ocupada', 'Sobreocupada', 'Subocupada', 'Vacía', 'Ocupada ',
       'Cerrada', 'Parcialmente cerrada', 'SobreOcupada', 'ocupada',
       'sobreocupada', 'Sobreocupada parc. cerrada', 'Cantero ocupado'],
      dtype=object)

In [7]:
df0['ubicacion_plantera'].unique()

array(['Regular', nan, 'Fuera de línea', 'Ochava', 'Regular ', 'regular',
       'Fuera Línea,Ochava', 'Cantero Grande', 'Ocupada', 'o', 'Elevada',
       'O', 'Och', 'Ochva', 'Ochava/Fuera Línea', 'Subocupada', 'ochava',
       'Fuera Nivel', 'Sobreocupada', 'Fuera de Línea, Ochava',
       'Fuera Línea/Ochava'], dtype=object)

In [8]:
df0['nivel_plantera'].unique()

array(['A nivel', 'Elevada', 'Bajo nivel', nan, 'A Nivel', 'Bajo Nivel',
       'AN', 'EL', 'Elevado', 'a Nivel', 'elevada', 'el', 'A nivel ',
       'Reducida', 'Bajo Bivel', 'Eleveda',
       'obs: no tiene plantera definida', 'BN', 'Regular', 'bajo nivel',
       'A  Nivel', 'Bajo  nivel', 'Ochava', 'Elevadas', 'Baja Nivel',
       'An', 'ELEVADA'], dtype=object)

Estos features son de seguro irrelevantes para nuestro estudio por lo que se procede a borrarlos del DF

In [9]:
df0.drop(['estado_plantera','tipo_activ','ubicacion_plantera','nivel_plantera'],axis=1, inplace = True)

In [10]:
df0.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 370180 entries, 0 to 370179
Data columns (total 14 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   long                   354838 non-null  float64
 1   lat                    354838 non-null  float64
 2   nro_registro           370180 non-null  object
 3   comuna                 370180 non-null  int64
 4   manzana                224140 non-null  object
 5   calle_nombre           370087 non-null  object
 6   calle_altura           364677 non-null  object
 7   calle_chapa            363721 non-null  object
 8   direccion_normalizada  355941 non-null  object
 9   ubicacion              361884 non-null  object
 10  nombre_cientifico      370180 non-null  object
 11  ancho_acera            367083 non-null  object
 12  diametro_altura_pecho  369894 non-null  float64
 13  altura_arbol           365858 non-null  float64
dtypes: float64(4), int64(1), object(9)
memory usage: 39.5+ MB

Como nuestro trabajo va a tener mucho que ver con la distribución geográfica de árboles según la especie se descartan todas las entradas donde el nombre científico o sus coordenadas sean nulos NaN

In [11]:
df0.dropna(subset=['lat', 'long','nombre_cientifico' ], inplace=True)

In [12]:
df0.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 354838 entries, 0 to 370172
Data columns (total 14 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   long                   354838 non-null  float64
 1   lat                    354838 non-null  float64
 2   nro_registro           354838 non-null  object
 3   comuna                 354838 non-null  int64
 4   manzana                214238 non-null  object
 5   calle_nombre           354838 non-null  object
 6   calle_altura           351661 non-null  object
 7   calle_chapa            350970 non-null  object
 8   direccion_normalizada  353641 non-null  object
 9   ubicacion              347949 non-null  object
 10  nombre_cientifico      354838 non-null  object
 11  ancho_acera            352713 non-null  object
 12  diametro_altura_pecho  354562 non-null  float64
 13  altura_arbol           350660 non-null  float64
dtypes: float64(4), int64(1), object(9)
memory usage: 40.6+ MB

Analizando instancias repetidas. En primer lugar veremos cuantas instancias repetidas en todos los campos hay

In [13]:
df0.duplicated().sum()

0

En segundo lugar veremos cuántas instacias tienen los mismos valores de lat, long y nombre_cientifico y procederemos a quedarnos con la ultima suponiendo que puede tratarse de un reemplazo de arbol

In [14]:
df0.duplicated(df0.columns[df0.columns.isin([ 'lat','long','nombre_cientifico',])]).sum()

75346

In [15]:
df0.drop_duplicates(df0.columns[df0.columns.isin([ 'lat','long','nombre_cientifico',])],keep='last',inplace = True)

In [18]:
df0

,long,lat,nro_registro,comuna,manzana,calle_nombre,calle_altura,calle_chapa,direccion_normalizada,ubicacion,nombre_cientifico,ancho_acera,diametro_altura_pecho,altura_arbol
0,-58.378563,-34.594902,26779,1,NaN,Esmeralda,1000.0,1120.0,ESMERALDA 1120,NaN,Tipuana tipu,5.5,88.0,34.0
1,-58.381532,-34.592319,30887,1,NaN,Pellegrini Carlos,1300.0,1345.0,"PELLEGRINI, CARLOS 1345",Exacta,Peltophorum dubium,4.5,6.0,5.0
2,-58.379103,-34.591939,30904,1,NaN,Arroyo,800.0,848.0,ARROYO 848,Exacta,Fraxinus pennsylvanica,4,7.0,6.0
4,-58.380710,-34.591548,31337,1,NaN,Arroyo,900.0,932.0,ARROYO 932,LA,Jacaranda mimosifolia,NaN,13.0,8.0
5,-58.381043,-34.591584,31344,1,NaN,Arroyo,900.0,970.0,ARROYO 970,Exacta,Fraxinus pennsylvanica,3.5,29.0,15.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
370118,-58.477279,-34.582165,545675,15,244,Marsella,2500.0,NaN,MARSELLA,LD6,Jacaranda mimosifolia,NaN,13.0,6.0
370121,-58.477279,-34.582165,545678,15,244,Marsella,2500.0,NaN,MARSELLA,LD9,No identificado,NaN,0.0,NaN
370124,-58.477279,-34.582165,545681,15,244,Marsella,2500.0,NaN,MARSELLA,LD12,Aspidosperma australe,NaN,4.0,5.0
370125,-58.477279,-34.582165,545682,15,244,Marsella,2500.0,NaN,MARSELLA,LD 13,Enterolobium contortisiliquum,NaN,9.0,4.0
370172,-58.470559,-34.595531,545938,15,423,Punta Arenas Av.,1500.0,1500.0,NaN,LA4,Tipuana tipu,NaN,71.0,18.0

Por último veremos cuántos árboles hay con las mismas coordenadas (dos especies distintas ocupando el mismo cantero)

In [19]:
df0.duplicated(df0.columns[df0.columns.isin([ 'lat','long'])]).sum()

49050

In [20]:
df0[df0.duplicated(df0.columns[df0.columns.isin([ 'lat','long'])])].groupby(['lat','long']).head(50)

,long,lat,nro_registro,comuna,manzana,calle_nombre,calle_altura,calle_chapa,direccion_normalizada,ubicacion,nombre_cientifico,ancho_acera,diametro_altura_pecho,altura_arbol
15,-58.381504,-34.591719,31406,1,NaN,Pellegrini Carlos,1300.0,1391.0,"PELLEGRINI, CARLOS 1391",LA,No identificado,4.5,50.0,7.0
39,-58.380710,-34.591548,31447,1,NaN,Arroyo,900.0,932.0,ARROYO 932,LD,Fraxinus pennsylvanica,NaN,62.0,9.0
45,-58.382920,-34.593640,32209,1,NaN,Cerrito,1200.0,1248.0,CERRITO 1248,LD,Ficus elastica,10,2.0,20.0
47,-58.381515,-34.591950,31457,1,NaN,Pellegrini Carlos,1300.0,1371.0,"PELLEGRINI, CARLOS 1371",LD,Phoenix roebelenii,7,15.0,3.0
83,-58.382924,-34.590718,34507,1,NaN,Cerrito,1400.0,1455.0,CERRITO 1455,Exacta,Fraxinus pennsylvanica,3,11.0,6.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
370117,-58.477279,-34.582165,545674,15,244,Marsella,2500.0,NaN,MARSELLA,LD5,Fraxinus pennsylvanica,NaN,24.0,8.0
370118,-58.477279,-34.582165,545675,15,244,Marsella,2500.0,NaN,MARSELLA,LD6,Jacaranda mimosifolia,NaN,13.0,6.0
370121,-58.477279,-34.582165,545678,15,244,Marsella,2500.0,NaN,MARSELLA,LD9,No identificado,NaN,0.0,NaN
370124,-58.477279,-34.582165,545681,15,244,Marsella,2500.0,NaN,MARSELLA,LD12,Aspidosperma australe,NaN,4.0,5.0
370125,-58.477279,-34.582165,545682,15,244,Marsella,2500.0,NaN,MARSELLA,LD 13,Enterolobium contortisiliquum,NaN,9.0,4.0

¿Cuántas especies de árboles hay?
¿Cuáles son?
¿Cuáles son las que más pueblan la ciudad?

In [21]:
df0['nombre_cientifico'].nunique()

429

In [22]:
df0['nombre_cientifico'].unique()

array(['Tipuana tipu', 'Peltophorum dubium', 'Fraxinus pennsylvanica',
       'Jacaranda mimosifolia', 'Tilia x moltkei', 'Ficus benjamina',
       'Liquidambar styraciflua', 'No identificado', 'Phoenix loureiri',
       'Washingtonia filifera', 'Phoenix roebelenii', 'Ficus elastica',
       'Platanus x acerifolia', 'Howea forsteriana',
       'Styphnolobium japonicum', 'Populus deltoides',
       'Hibiscus rosa-sinensis', 'Photinia x fraseri',
       'Photinia serrulata', 'Ficus alii', 'Ceiba speciosa',
       'Ilex aquifolium', 'Handroanthus impetiginosus',
       'Fraxinus excelsior', 'Prosopis alba', 'Fraxinus americana',
       'Melia azedarach', 'Tecoma stans', 'Ligustrum lucidum',
       'Hibiscus syriacus', 'Lagerstroemia indica', 'Ceiba insignis',
       'Tilia platyphyllos', 'Citrus aurantium', 'Syagrus romanzoffiana',
       'Acer negundo', 'Enterolobium contortisiliquum',
       'Brachychiton populneus', 'Phoenix canariensis', 'Betula pendula',
       'Populus nigra `’Italica’', 'Fraxinus excelsior f.aurea',
       'Robinia pseudoacacia', 'Ligustrum lucidum f. aureovariegata',
       'Schefflera arboricola', 'Bauhinia variegata',
       'Bauhinia forficata', 'Ficus benjamina variegata',
       'Broussonetia papyrifera', 'Populus x canadensis', 'Populus alba',
       'Erythrina crista-galli', 'Prunus cerasifera f. atropurpurea',
       'Robinia pseudoacacia v. umbraculifera', 'Citrus reticulata',
       'Tilia cordata', 'Nerium oleander', 'Citrus limon',
       'Persea americana', 'Ligustrum sinense', 'Luehea divaricata',
       'Citrus sinensis', 'Acer buergerianum', 'Acacia caven',
       'Pittosporum tobira', 'Ailanthus altissima', 'Acer campestre',
       'Catalpa bignonioides', 'Ficus glomerata',
       'Liriodendron tulipifera', 'Liquidambar formosana', 'Morus alba',
       'Salix babylonica', 'Albizia julibrissin', 'Quercus robur',
       'Pittosporum tobira var. variegatum', 'Sapium haematospermum',
       'Callistemon citrinus', 'Cinnamonum glanduliferum', 'Ulmus pumila',
       'Leucaena leucocephala', 'Livistona chinensis',
       'Salix x erythroflexuosa', 'Eriobotrya japonica', 'Cedrus libani',
       'Prunus persica', 'Cupressus sempervirens f. stricta',
       'Thuja occidentalis', 'Callistemon rigidus', 'Acer palmatum',
       'Citrus paradisi', 'Cupressus sempervirens f. horizontalis',
       'Cinnamomum camphora', 'Pinus pinea', 'Ginkgo biloba',
       'Washingtonia robusta', 'Cycas revoluta', 'Grevillea robusta',
       'Ligustrum ovalifolium', 'Ulmus procera',
       'Populus alba var. pyramidalis', 'Acer platanoides',
       'Acer saccharinum', 'Ficus sp.', 'Araucaria bidwillii',
       'Viburnum tinus', 'Acca sellowiana', 'Nicotiana glauca',
       'Acer pseudoplatanus', 'Araucaria heterophylla',
       'Bougainvillea spectabilis', 'Cocculus laurifolius',
       'Quercus borealis', 'Morus nigra', 'Rhus typhina', 'Olea europaea',
       'Fraxinus ornus', 'Salix humboldtiana', 'Cupressus lusitanica',
       'Paulownia tomentosa', 'Parkinsonia aculeata', 'Cedrus deodara',
       'Fraxinus oxicarpa', 'Acacia visco', 'Ficus carica',
       'Manihot grahamii', 'Senna corymbosa', 'Abies alba',
       'Laurus nobilis', 'Arbusto', 'Ruprechtia salicifolia',
       'Malvaviscus arboreus', 'Duranta erecta', 'Euphorbia haematodes',
       'Schefflera actinophylla', 'Copernicia alba',
       'Melia azedarach  var. umbraculifera', 'Metrosideros citrinus',
       'Quercus palustris', 'Eugenia myrtifolia', 'Cedrela fissilis',
       'Senna spectabilis', 'Juglans nigra', 'Celtis australis',
       'Handroanthus lapacho', 'Trachycarpus fortunei', 'Acacia dealbata',
       'Sterculia coccinea', 'Duranta erecta variegata',
       'Solanum granulosum-leprosum', 'Phytolacca dioica',
       'Roystonea regia', 'Prunus domestica', 'Quercus ilex',
       'Gleditsia triacanthos', 'Butia yatay', 'Gardenia thunbergia',
       'Celtis occidentalis', 'Salix sp.', 'Prunus cerasus',
       'Ricinus communis', 'Cedrela angustifolia', 'Carya illinoensis',
       'Firmiana platanifolia', 'Prunus salicina', 'Hovenia dulcis',
       'Juglans regia', 'Schinus molle', 'Hibiscus mutabilis',
       'Eucalyptus grandis', 'Dracaena marginata', 'Cryptomeria japonica',
       'Araucaria angustifolia', 'Cupressus macrocarpa',
       'Ficus macrophylla', 'Acacia mearsnii', 'Taxodium distichum',
       'Prosopis sp.', 'Thevetia peruviana', 'Cedrus atlantica',
       'Acer japonicum', 'Schefflera sp.', 'Calocedrus decurrens',
       'Acacia melanoxylon', 'Schefflera digitata', 'Ziziphus jujuba',
       'Celtis tala', 'Eugenia uniflora', 'Plumeria alba',
       'Cupressus arizonica', 'Cercis siliquastrum', 'Phoenix paludosa',
       'Erythrina falcata', 'Cupressus sp.', 'Prunus avium',
       'Casuarina cunninghamiana', 'Eucalyptus camaldulensis',
       'Archontophoenix cunninghamiana', 'Dracaena sp.',
       'Prunus armeniaca', 'Thuja orientalis', 'Beaucarnea recurvata',
       'Citrus medica', 'Pterogyne nitens', 'Prunus sp.',
       'Juglans australis', 'Cestrum nocturnum', 'Agathis robusta',
       'Blepharocalyx salicifolius', 'Brugmansia arborea',
       'Carica papaya', 'Annona cherimola', 'Punica granatum',
       'Cotoneaster salicifolius', 'Brachychiton acerifolium',
       'Pyracantha coccinea', 'Condalia buxifolia', 'Acacia baileyana',
       'Populus nigra', 'Araucaria araucana', 'Cedrus sp .',
       'Eugenia sp.', 'Acer pseudoplatanus f. atropurpurea',
       'Cedrela sp.', 'Juniperus communis', 'Pittosporum tenuifolium',
       'Castanea sativa', 'Salix alba', 'Cupressus sempervirens',
       'Citrus sp.', 'Mespilus germanica', 'Butya capitata',
       'Musa  paradisiaca', 'Cydonia oblonga',
       'Melia azedarach variegata', 'Ceratonia siliqua',
       'Jasminum officinale', 'Yucca sp.', 'Ficus lyrata',
       'Diospyros kaki', 'Calliandra tweediei', 'Fortunella margarita',
       'Mangifera indica', 'Evonymus japonica', 'Cajanus cajana',
       'Fraxinus sp.', 'Calocedrus decurrens f. aureovariegata',
       'Euphorbia cotinifolia', 'Eucalyptus sp.', 'Quercus rubra',
       'Cupressus funebris', 'Magnolia grandiflora',
       'Araucaria cunninghamii', 'Vitis vinifera', 'Salix nigra',
       'Jasminum fruticans', 'Bougainvillea sp.', 'Plumeria rubra',
       'Inga uruguayensis', 'Handroanthus sp.', 'Cotoneaster acuminatus',
       'Carpinus betulus', 'Pinus elliottii', 'Brunfelsia australis',
       'Eugenia pungens', 'Pyrus communis', 'Caesalpinia gilliesii',
       'Acacia sp.', 'Pterocarya rhoifolia',
       'Robinia pseudoacacia v. frisia', 'Araucaria sp.',
       'Styphnolobium japonicum pendula', 'Ficus altissima',
       'Euphorbia tirucalli', 'Aesculus hippocastanum',
       'Poecilanthe parviflora', 'Juglans mandshurica', 'Picea abies',
       'Callistemon sp.', 'Platycladus orientalis', 'Eucalyptus cinerea',
       'Morus sp.', 'Euphorbia umbellata', 'Thuja sp.',
       'Gleditsia amorphoides', 'Osmanthus fragrans', 'Celtis laevigata',
       'Araucaria columnaris', 'Rhus succedanea', 'Sabal palmetto',
       'Buxus sempervirens', 'Ficus monckii',
       'Anadenanthera collubrina var.cebil', 'Ficus retusa',
       'Trithrinax campestris', 'Malus sylvestris', 'Caryota urens',
       'Cordia trichotoma', 'Chamaerops humilis', 'Phoenix reclinata',
       'Ligustrum sp.', 'Parapiptadenia rigida', 'Anacardium occidentale',
       'Robinia pseudoacacia v. casque rouge', 'Prosopis nigra',
       'Pinus taeda', 'Euonymus japonica', 'Abutilon grandiflorum',
       'Psidium guajaba', 'Euphorbia pulcherrima', 'Ficus luschnathiana',
       'Eucalyptus citriodora', 'Eucalyptus globulus var. globulus',
       'Pinus halepensis', 'Eucalyptus globulus', 'Diospyros virginiana',
       'Pinus sp.', 'Acer rubrum', 'Prosopis chilensis',
       'Eucalyptus viminalis', 'Quercus macrocarpa', 'Acacia decurrens',
       'Pinus canariensis', 'Salix viminalis', 'Chamaecyparis lawsoniana',
       'Pereskia grandiflora', 'Phoenix dactilifera',
       'Eleagnus angustifolia', 'Poncirus trifoliata', 'Ficus auriculata',
       'Camellia japonica', 'Hexachlamys edulis', 'Litsea glaucescens',
       'Gleditsia triacanthos inermis', 'Dracaena indivisa',
       'Eucalyptus tereticornis', 'Aloysia citriadora',
       'Juniperus chinensis variegata', 'Melia azedarach ',
       'Syzygium australe', 'Brunfelsia pauciflora',
       'Buxus sempervirens variegata', 'Drimis winteri',
       'Eucalyptus sideroxylon', 'Cocus nucifera', 'Myoporum tenuifolium',
       'Datura metel', 'Livistrona australis', 'Philadelphus coronarius',
       'Magnolia liliflora', 'Juniperus virginiana', 'Pinus pinaster',
       'Cactus', 'Jasminum sp.', 'schefflera digitata',
       'Citharexylum montevidense', 'Crataegus macrosperma',
       'Cordyline sp.', 'Yucca gloriosa', 'Aesculus x carnea',
       'Podocarpus parlatorei', 'Ulmus sp.', 'Eucalyptus robusta',
       'Vitis sp.', 'Geoffroea decorticans', 'Cordyline australis',
       'Thuja plicata', 'Prunus serrulata',
       'Acer negundo f.aureo marginatum', 'Acer monspessolanum',
       'Ficus microcarpa', 'Sterculia monosperma', 'Dypsis lutescens',
       'Rhapis excelsa', 'Sesbania punicea', 'Senna pendula',
       'Alnus glutinosa', 'Quercus sp.', 'Acer sp.',
       'Fraxinus angustifolia', 'Lagunaria partesonii',
       'Cecropia adenopus', 'Viburnum suspensum', 'Abutilon pictum',
       'Quercus imbricaria', 'Melaleuca spp.', 'Ilex cornuta',
       'Myoporum laetum', 'Taxodium ascendens', 'Dracaena arborea',
       'Synadenium grantii', 'Fagus sylvatica', 'Pinus radiata',
       'Euterpe edulis', 'Quercus suber', 'Cupressocyparis x leylandii',
       'Maclura pomifera', 'Ficus aspera', 'Pinus strobus',
       'Taxodium mucronatum', 'Eucalyptus saligna', 'Salix  viminalis',
       'Tristania conferta', 'Sambucus peruvianus', 'Dombeya wallichii',
       'Salix babylonica var. sacramenta', 'Vallesia glabra',
       'Podocarpus sp.', 'Sambucus australis', 'Cordia boissieri',
       'Erythrina americana', 'Salix matsudana tortuosa', 'Sabal minor',
       'Erythryna poepiggiana', 'Schefflera morototoni',
       'Sesbania virgata', 'Carica Papaya', 'Handroanthus pulcherrimus',
       'Brugmansia sp.', 'Schinus sp.', 'Allophylus edulis',
       'Prunus laurocerasus', 'Ilex sp.', 'Koelreuteria paniculata',
       'Schinus terebinthifolius', 'Pouteria salicifolia',
       'Tecoma stans ', 'Scutia buxifolia', 'Aspidosperma australe'],
      dtype=object)

Dado que hay un valor para nombre_cientifico = 'no identificado' se borran todas las instancias con ese valor

In [23]:
indexNames = df0[ df0['nombre_cientifico'] == 'No identificado' ].index

In [24]:
df0.drop(indexNames , inplace=True)

Una forma sencilla de crear un id para cada instancia es resetear el index

In [25]:
df0.reset_index(drop=True,inplace=True)

In [26]:
df0.reset_index(inplace=True)

In [27]:
df0[['index','nombre_cientifico']].groupby('nombre_cientifico').nunique().sort_values('index',ascending=False)

                        index
nombre_cientifico
Fraxinus pennsylvanica  97177
Platanus x acerifolia   21333
Ficus benjamina         18796
Tilia x moltkei         12643
Melia azedarach         12012
...                       ...
Evonymus japonica           1
Eugenia sp.                 1
Eucalyptus sideroxylon      1
Eucalyptus robusta          1
schefflera digitata         1

[428 rows x 1 columns]

In [29]:
df0.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 271445 entries, 0 to 271444
Data columns (total 15 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   index                  271445 non-null  int64
 1   long                   271445 non-null  float64
 2   lat                    271445 non-null  float64
 3   nro_registro           271445 non-null  object
 4   comuna                 271445 non-null  int64
 5   manzana                166591 non-null  object
 6   calle_nombre           271445 non-null  object
 7   calle_altura           269227 non-null  object
 8   calle_chapa            270461 non-null  object
 9   direccion_normalizada  270867 non-null  object
 10  ubicacion              266237 non-null  object
 11  nombre_cientifico      271445 non-null  object
 12  ancho_acera            270195 non-null  object
 13  diametro_altura_pecho  271230 non-null  float64
 14  altura_arbol           269015 non-null  float64
dtypes: float64(4), int64(2), object(9)
memory usage: 31.1+ MB

In [30]:
df0.to_csv('df1.csv')

In [31]:
df1 = pd.read_csv('df1.csv', index_col=0, low_memory=False)

In [32]:
df1

,index,long,lat,nro_registro,comuna,manzana,calle_nombre,calle_altura,calle_chapa,direccion_normalizada,ubicacion,nombre_cientifico,ancho_acera,diametro_altura_pecho,altura_arbol
0,0,-58.378563,-34.594902,26779,1,NaN,Esmeralda,1000.0,1120.0,ESMERALDA 1120,NaN,Tipuana tipu,5.5,88.0,34.0
1,1,-58.381532,-34.592319,30887,1,NaN,Pellegrini Carlos,1300.0,1345.0,"PELLEGRINI, CARLOS 1345",Exacta,Peltophorum dubium,4.5,6.0,5.0
2,2,-58.379103,-34.591939,30904,1,NaN,Arroyo,800.0,848.0,ARROYO 848,Exacta,Fraxinus pennsylvanica,4,7.0,6.0
3,3,-58.380710,-34.591548,31337,1,NaN,Arroyo,900.0,932.0,ARROYO 932,LA,Jacaranda mimosifolia,NaN,13.0,8.0
4,4,-58.381043,-34.591584,31344,1,NaN,Arroyo,900.0,970.0,ARROYO 970,Exacta,Fraxinus pennsylvanica,3.5,29.0,15.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
271440,271440,-58.477279,-34.582165,545674,15,244,Marsella,2500.0,NaN,MARSELLA,LD5,Fraxinus pennsylvanica,NaN,24.0,8.0
271441,271441,-58.477279,-34.582165,545675,15,244,Marsella,2500.0,NaN,MARSELLA,LD6,Jacaranda mimosifolia,NaN,13.0,6.0
271442,271442,-58.477279,-34.582165,545681,15,244,Marsella,2500.0,NaN,MARSELLA,LD12,Aspidosperma australe,NaN,4.0,5.0
271443,271443,-58.477279,-34.582165,545682,15,244,Marsella,2500.0,NaN,MARSELLA,LD 13,Enterolobium contortisiliquum,NaN,9.0,4.0
271444,271444,-58.470559,-34.595531,545938,15,423,Punta Arenas Av.,1500.0,1500.0,NaN,LA4,Tipuana tipu,NaN,71.0,18.0

Armo un subconjunto con los árboles en determinadas coordenadas que encierran las manzanas
Moldes- Cdad de La Paz, Sucre-José Hernandez.

In [47]:
#df3=df1[(df1['lat'] > -34.567358) &  (df1['lat']< -34.565541)&(df1['long']>-58.457877)&(df1['long']<-58.454478)]

In [33]:
df3=df1

In [34]:
df3

,index,long,lat,nro_registro,comuna,manzana,calle_nombre,calle_altura,calle_chapa,direccion_normalizada,ubicacion,nombre_cientifico,ancho_acera,diametro_altura_pecho,altura_arbol
0,0,-58.378563,-34.594902,26779,1,NaN,Esmeralda,1000.0,1120.0,ESMERALDA 1120,NaN,Tipuana tipu,5.5,88.0,34.0
1,1,-58.381532,-34.592319,30887,1,NaN,Pellegrini Carlos,1300.0,1345.0,"PELLEGRINI, CARLOS 1345",Exacta,Peltophorum dubium,4.5,6.0,5.0
2,2,-58.379103,-34.591939,30904,1,NaN,Arroyo,800.0,848.0,ARROYO 848,Exacta,Fraxinus pennsylvanica,4,7.0,6.0
3,3,-58.380710,-34.591548,31337,1,NaN,Arroyo,900.0,932.0,ARROYO 932,LA,Jacaranda mimosifolia,NaN,13.0,8.0
4,4,-58.381043,-34.591584,31344,1,NaN,Arroyo,900.0,970.0,ARROYO 970,Exacta,Fraxinus pennsylvanica,3.5,29.0,15.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
271440,271440,-58.477279,-34.582165,545674,15,244,Marsella,2500.0,NaN,MARSELLA,LD5,Fraxinus pennsylvanica,NaN,24.0,8.0
271441,271441,-58.477279,-34.582165,545675,15,244,Marsella,2500.0,NaN,MARSELLA,LD6,Jacaranda mimosifolia,NaN,13.0,6.0
271442,271442,-58.477279,-34.582165,545681,15,244,Marsella,2500.0,NaN,MARSELLA,LD12,Aspidosperma australe,NaN,4.0,5.0
271443,271443,-58.477279,-34.582165,545682,15,244,Marsella,2500.0,NaN,MARSELLA,LD 13,Enterolobium contortisiliquum,NaN,9.0,4.0
271444,271444,-58.470559,-34.595531,545938,15,423,Punta Arenas Av.,1500.0,1500.0,NaN,LA4,Tipuana tipu,NaN,71.0,18.0

In [35]:
df3.drop(['index','manzana','nro_registro','comuna','calle_altura','ubicacion'],axis=1, inplace = True)

In [36]:
df3.head()

,long,lat,calle_nombre,calle_chapa,direccion_normalizada,nombre_cientifico,ancho_acera,diametro_altura_pecho,altura_arbol
0,-58.378563,-34.594902,Esmeralda,1120.0,ESMERALDA 1120,Tipuana tipu,5.5,88.0,34.0
1,-58.381532,-34.592319,Pellegrini Carlos,1345.0,"PELLEGRINI, CARLOS 1345",Peltophorum dubium,4.5,6.0,5.0
2,-58.379103,-34.591939,Arroyo,848.0,ARROYO 848,Fraxinus pennsylvanica,4,7.0,6.0
3,-58.380710,-34.591548,Arroyo,932.0,ARROYO 932,Jacaranda mimosifolia,NaN,13.0,8.0
4,-58.381043,-34.591584,Arroyo,970.0,ARROYO 970,Fraxinus pennsylvanica,3.5,29.0,15.0

In [37]:
df3.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 271445 entries, 0 to 271444
Data columns (total 9 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   long                   271445 non-null  float64
 1   lat                    271445 non-null  float64
 2   calle_nombre           271445 non-null  object
 3   calle_chapa            270461 non-null  object
 4   direccion_normalizada  270867 non-null  object
 5   nombre_cientifico      271445 non-null  object
 6   ancho_acera            270195 non-null  object
 7   diametro_altura_pecho  271230 non-null  float64
 8   altura_arbol           269015 non-null  float64
dtypes: float64(4), object(5)
memory usage: 20.7+ MB

In [38]:
df3.dropna(subset=['calle_chapa'], inplace=True)

In [41]:
df3.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 270461 entries, 0 to 271444
Data columns (total 9 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   long                   270461 non-null  float64
 1   lat                    270461 non-null  float64
 2   calle_nombre           270461 non-null  object
 3   calle_chapa            270461 non-null  object
 4   direccion_normalizada  269905 non-null  object
 5   nombre_cientifico      270461 non-null  object
 6   ancho_acera            269321 non-null  object
 7   diametro_altura_pecho  270252 non-null  float64
 8   altura_arbol           268039 non-null  float64
dtypes: float64(4), object(5)
memory usage: 20.6+ MB

In [42]:
df3['calle_chapa'].unique()

array(['1120.0', '1345.0', '848.0', ..., '7129.0', '6410.0', '*640'],
      dtype=object)

In [51]:
num_no_valid = df3[ df3['calle_chapa'] == '*640' ].index
num_no_valid

Int64Index([271112, 271113], dtype='int64')

In [52]:
df3.drop(num_no_valid,inplace=True)

In [53]:
df3['calle_chapa'] = df3['calle_chapa'].astype(float, errors = 'raise')

In [54]:
df3.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 270459 entries, 0 to 271444
Data columns (total 9 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   long                   270459 non-null  float64
 1   lat                    270459 non-null  float64
 2   calle_nombre           270459 non-null  object
 3   calle_chapa            270459 non-null  float64
 4   direccion_normalizada  269905 non-null  object
 5   nombre_cientifico      270459 non-null  object
 6   ancho_acera            269319 non-null  object
 7   diametro_altura_pecho  270250 non-null  float64
 8   altura_arbol           268037 non-null  float64
dtypes: float64(5), object(4)
memory usage: 20.6+ MB

Selecciono solo los árboles entre las calles molde-cdad de la paz y sucre-josé hernandez

In [71]:
df4=df3[((df3['calle_nombre']=='Amenábar')                    &(df3['calle_chapa'] > 1700)&(df3['calle_chapa'] < 1900))|
        ((df3['calle_nombre']=='Moldes')                      &(df3['calle_chapa'] > 1700)&(df3['calle_chapa'] < 1900))|
        ((df3['calle_nombre']=='Ciudad de la Paz')            &(df3['calle_chapa'] > 1700)&(df3['calle_chapa'] < 1900))|
        ((df3['calle_nombre']=='Hernández José')              &(df3['calle_chapa'] > 2500)&(df3['calle_chapa'] < 2700))|
        ((df3['calle_nombre']=='Sucre Antonio José de Mcal.') &(df3['calle_chapa'] > 2500)&(df3['calle_chapa'] < 2700))|
        ((df3['calle_nombre']=='La Pampa')                    &(df3['calle_chapa'] > 2500)&(df3['calle_chapa'] < 2700))]

In [72]:
df4

,long,lat,calle_nombre,calle_chapa,direccion_normalizada,nombre_cientifico,ancho_acera,diametro_altura_pecho,altura_arbol
221402,-58.457302,-34.566235,Moldes,1830.0,MOLDES 1830,Acer negundo,3,61.0,9.0
221575,-58.456087,-34.566109,Amenábar,1790.0,AMENABAR 1790,Fraxinus pennsylvanica,3.2,38.0,13.0
221576,-58.456023,-34.566184,Amenábar,1782.0,AMENABAR 1782,Fraxinus pennsylvanica,3.2,15.0,11.0
221622,-58.455698,-34.566562,Amenábar,1728.0,AMENABAR 1728,Fraxinus pennsylvanica,3.2,29.0,13.0
221623,-58.455832,-34.566406,Amenábar,1750.0,AMENABAR 1750,Fraxinus pennsylvanica,3.2,23.0,9.0
...,...,...,...,...,...,...,...,...,...
228008,-58.457442,-34.565290,Sucre Antonio José de Mcal.,2661.0,"SUCRE, ANTONIO JOSE DE, MCAL. 2661",Tilia platyphyllos,2.6,39.0,15.0
228011,-58.457174,-34.565132,Sucre Antonio José de Mcal.,2619.0,"SUCRE, ANTONIO JOSE DE, MCAL. 2619",Fraxinus pennsylvanica,2.6,47.0,18.0
228012,-58.457252,-34.565178,Sucre Antonio José de Mcal.,2631.0,"SUCRE, ANTONIO JOSE DE, MCAL. 2631",Fraxinus pennsylvanica,2.6,44.0,16.0
228015,-58.457673,-34.565427,Sucre Antonio José de Mcal.,2675.0,"SUCRE, ANTONIO JOSE DE, MCAL. 2675",Fraxinus pennsylvanica,2.6,27.0,10.0
228020,-58.457083,-34.565078,Sucre Antonio José de Mcal.,2609.0,"SUCRE, ANTONIO JOSE DE, MCAL. 2609",Fraxinus pennsylvanica,2.6,10.0,8.0

In [73]:
df4.to_csv('df4.csv')

In [74]:
df4

,long,lat,calle_nombre,calle_chapa,direccion_normalizada,nombre_cientifico,ancho_acera,diametro_altura_pecho,altura_arbol
221402,-58.457302,-34.566235,Moldes,1830.0,MOLDES 1830,Acer negundo,3,61.0,9.0
221575,-58.456087,-34.566109,Amenábar,1790.0,AMENABAR 1790,Fraxinus pennsylvanica,3.2,38.0,13.0
221576,-58.456023,-34.566184,Amenábar,1782.0,AMENABAR 1782,Fraxinus pennsylvanica,3.2,15.0,11.0
221622,-58.455698,-34.566562,Amenábar,1728.0,AMENABAR 1728,Fraxinus pennsylvanica,3.2,29.0,13.0
221623,-58.455832,-34.566406,Amenábar,1750.0,AMENABAR 1750,Fraxinus pennsylvanica,3.2,23.0,9.0
...,...,...,...,...,...,...,...,...,...
228008,-58.457442,-34.565290,Sucre Antonio José de Mcal.,2661.0,"SUCRE, ANTONIO JOSE DE, MCAL. 2661",Tilia platyphyllos,2.6,39.0,15.0
228011,-58.457174,-34.565132,Sucre Antonio José de Mcal.,2619.0,"SUCRE, ANTONIO JOSE DE, MCAL. 2619",Fraxinus pennsylvanica,2.6,47.0,18.0
228012,-58.457252,-34.565178,Sucre Antonio José de Mcal.,2631.0,"SUCRE, ANTONIO JOSE DE, MCAL. 2631",Fraxinus pennsylvanica,2.6,44.0,16.0
228015,-58.457673,-34.565427,Sucre Antonio José de Mcal.,2675.0,"SUCRE, ANTONIO JOSE DE, MCAL. 2675",Fraxinus pennsylvanica,2.6,27.0,10.0
228020,-58.457083,-34.565078,Sucre Antonio José de Mcal.,2609.0,"SUCRE, ANTONIO JOSE DE, MCAL. 2609",Fraxinus pennsylvanica,2.6,10.0,8.0